.navbar {
    background: $orange;
    background: -webkit-linear-gradient(left, $orange 0%, $orange-light 100%);
    background: -o-linear-gradient(left, $orange 0%, $orange-light 100%);
    background: linear-gradient(to right, $orange 0%, $orange-light 100%);

    .navbar-brand {
        font-size: 3.25rem;
        text-decoration: none;
    }

    .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.5);
    }

    .nav-item {
        .nav-link {
            color: $white;
        }
        &.active .nav-link{
            text-decoration: none;
        }
    }

    .btn {
        border: 1px solid $white;
        color: $white;
    }
}
