.results-page {
    .card-group > .card {
        margin-bottom: 0;

        &:first-child {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
    }

    li.card-block {
        margin-bottom: 15px;
    }

    .result-link {
        margin-bottom: 0;
        a {
            color: $text-color-dark;
            text-decoration: none;
        }
    }
}
