<!-- A normal content page with header/footer -->

{{#extend "base"}}
{{#content "main" mode="prepend"}}
    {{> header}}
    <main>
        {{#block "content"}}{{/block}}
        {{> footer}}
    </main>
{{/content}}
{{/extend}}
