{{#extend "page"}}
{{#content "content" mode="prepend"}}
    <div class="back-button">
        <img src="assets/img/back.png" alt="" class="w-100">
    </div>
    <div class="jumbo-heading"><h1 class="jumbo-heading-h1">Mt. Sinai Hospital</h1></div>
    <div class="hospital-page">
        <div  class="container">
            <div class="row">
                <div class="col-sm-12">
                    <i class="add">Thurber Ave, Brockton, MA 02301</i>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-8 offset-4">
                    <label for="country" class=" d-inline">Rating By</label>
                    <select class="custom-select w-50 d-inline" id="rating" required="">
                      <option value="">All</option>
                      <option>Race</option>
                      <option>Religion</option>
                      <option>Orientation</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="chart" style="width: 70vw"></div>
                </div>
            </div>
            </div>
            <div class="ratings container">
                <h2>
                    <span>Rating</span>
                </h2>
                <!-- <h2>Rating</h2> -->
                {{#each rating}}
                <div class="row">
                    <div class="col-7">
                        <label for="country" class="text-uppercase d-inline ">{{label}}</label>
                    </div>
                    <div class="col-5">
                        <span class="text-orange">
                            {{#for rating}}
                            ★
                            {{/for}}
                        </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="reviews container">
                <h2>
                    <span>Reviews</span>
                </h2>
                <div class="row">
                    <div class="col-12">
                        <ul class="list-unstyled">
                            {{#each reviews}}
                            <li>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <img class="w-100 rounded-circle" src="{{profile}}">
                                    </div>
                                    <div class="col-9">
                                        <div class="d-block">
                                            {{headline}}
                                        </div>
                                        <div class="d-block text-orange">
                                            {{#for rating}}
                                            ★
                                            {{/for}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
    </div>
{{/content}}
{{/extend}}
