{{#extend "home"}}
{{#content "content" mode="prepend"}}
<div class="center-v">

    <div class="logo ff-cursive">
        irth
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <p class="description">Connect with over 10,000 hospital reviews, ratings, and experiences for people just like you.</p>
        </div>
        </div>
    <div class="row">
        <div class="col-10 offset-1">
            <a href="search" class="btn btn-primary mb-3 btn-cta w-100">Find an Experience</a>
            <a href="search" class="btn btn-primary mb-3 btn-cta w-100">Share Your Story</a>
            <a href="search" class="btn btn-primary mb-3 btn-cta w-100">Connect with Community</a>

        </div>
    </div>
</div>
{{/content}}
{{/extend}}
