{{#extend "page"}}
{{#content "content" mode="prepend"}}
    <div class="search-page">
        <form  class="container">
            <div class="row">
                <div class="col-sm-5">
                    <label>
                        <span>Hospital</span>
                        <input class="form-control" type="text"/>
                        <span class="focus-border"></span>
                    </label>
                </div>
                <div class="col-sm-2 text-center side-lines">
                    <span>or</span>
                </div>
                <div class="col-sm-5">
                    <label>
                        <span>Zip Code</span>
                        <input class="form-control" type="text"/>
                        <span class="focus-border"></span>
                    </label>
                </div>
            </div>
        </form>
    </div>
{{/content}}
{{/extend}}
