{{#extend "page"}}
{{#content "content" mode="prepend"}}
    <div>
        <form  class="container">
            <div class="row">
                <div class="col-sm-5">
                    <label>
                        <span>Hospital</span>
                        <input class="form-control" type="text"/>
                    </label>
                </div>
                <div class="col-sm-2">
                    <span class="divider">or</span>
                </div>
                <div class="col-sm-5">
                    <label>
                        <span>Zip Code</span>
                        <input class="form-control" type="text"/>
                    </label>
                </div>
            </div>
        </form>
    </div>
{{/content}}
{{/extend}}
