{{#extend "page"}}
{{#content "content" mode="prepend"}}
    <div class="back-button">
        <img src="assets/img/back.png" alt="" class="w-100">
    </div>
    <div class="jumbo-heading"><h1 class="jumbo-heading-h1">Search</h1></div>
    <div class="search-page">
        <form  class="container">
            <div class="row">
                <div class="col-sm-5">
                    <label>
                        <span>Hospital</span>
                        <input class="form-control text-center" type="text"/>
                        <span class="focus-border"></span>
                    </label>
                </div>
                <div class="col-sm-2 text-center side-lines">
                    <span>or</span>
                </div>
                <div class="col-sm-5">
                    <label>
                        <span>Zip Code</span>
                        <input class="form-control text-center" type="text"/>
                        <span class="focus-border"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a class="btn btn-outline-secondary" href="results">Go</a>
                </div>
            </div>
        </form>
    </div>
{{/content}}
{{/extend}}
